:root{
	--title:#dcb270;
    --border:#b98d73;
    --background:#f5f0e7;

}
.header{
    width: 100%;
    max-width: 100%;
    height: 8rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--border);
    color: white;
    
}
.header .finishBuy
.actions{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.actions div{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.actions div img{
    width: 3rem;
}
.actions div a{
    text-decoration: none;
    color: white;
}

@keyframes animationClick{
    0%{
        transform: rotate(0.5turn);    
    }
    50%{
        transform: rotate(-1turn);
    }
    100%{
        transform: rotate(0)
    }
}
.buttonLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color:transparent ;
    border: none;
    color: white;

}
.containerInfoLogged{
    display: flex;
    gap: 0.5rem;
}
.buttonLogout{
    composes:buttonLogin;
}
.buttonLogout img{
    width: 3rem;
}
.buttonLogin img{
    width: 3rem;
}
.buttonLoginCartContainer{
    display: flex;
    position: relative;
}
.buttonCart{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color:transparent ;
    border: none;
    color: white;
    width:5rem;
}
.textCartNoLogged{
    font-size: 1.4rem;
}
.buttonCart img{
    width: 3rem;
}
.contentCart{
    z-index: 111;
    border-radius: 1rem;
    position: absolute;
    top: 7rem;
    right: 5%;
    background-color: white;
    width: 32rem;
    border: 1px solid var(--border);
    height: auto;
    padding: 1rem;
}
.contentCart h2{
    color: var(--border);
    text-align: center;
}
.buttonClearCart{
    width: 100%;
    height: 5rem;
    border: 1px solid var(--border);
    border-radius: 1rem;
    background-color: transparent;
    color: var(--border);
}
.AmountTotal{
    margin-top: 1rem;
    color: var(--border);
}
.AmountTotal p{
    color: var(--border);
}
.contentCart h3{
    margin-top: 1rem;
    color: var(--border);
    z-index: 111;
    width: 100%;
    height: 3rem;
    text-align: center;
}
.buttonSidebar{
    border: none;
    background-color: transparent;
}
.finishBuy{
    position: absolute;
    z-index: 1000;
    top: 5%;
    width: 32rem;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.finishBuy img{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}
.finishBuyTitle{
    color: green;
    margin-top: 1rem;
    text-align: center;
}
.finishBuy p{
    color: black;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
@media (width > 800px) { 
    .finishBuy{
        left: 30%;
    }
}
@media (width> 1200px) { 
    .contentCart{
        left: 0;
    }
    .finishBuy{
        left: 50%;
        top: 5%;
    }
}